node_modules
tsconfig.tsbuildinfo
*.log
.*
.yarn/*
!.babelrc.js
!.cspell.json
!.dockerignore
!.editorconfig
!.eslintignore
!.eslintrc
!.eslintrc.js
!.gitattributes
!.github
!.gitignore
!.husky
!.lintstagedrc.js
!.mergify.yml
!.npmignore
!.npmrc
!.nvmrc
!.prettierignore
!.storybook
!.svgrrc.js
!.unimportedrc.json
!.vscode
!.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarnrc.yml
